/* This is a CSS comment.*/
.description {
	color :red;
	max-width: 705px;
	padding-left: 30px;
	color: #7C8B88;
}

.screenshot {
	max-width: 460px;

}

.app {
	display: webkit-flex;
	display: flex;
}

h1 {
	background-color: #33BEBE;
}

* {
   outline: 1px solid red !important;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 
/*
Comments are only to help PEOPLE read a code file. The
computer ignores them.
*/
